<div mat-dialog-actions align="end" class="dialog-actions">
  <button mat-button (click)="onNoClick()">Fermer</button>
</div>

<div mat-dialog-content>
  <mat-card class="dialog-card">
    <mat-card-header>
      <mat-card-title>{{ data.movie.original_title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <strong>Date de sortie:</strong>
        {{ data.movie.release_date | date : " d MMMM y" }}
      </p>
      <p><strong>Synopsis:</strong> {{ data.movie.overview }}</p>
      <p><strong>Genre:</strong> {{ getGenreList() }}</p>
      <p><strong>Réalisateur:</strong> {{ getCrewList() }}</p>
      <p><strong>Acteurs:</strong> {{ getActorList() }}</p>
      <p><strong>Durée:</strong> {{ data.movie.runtime }} min</p>
      <p><strong>Note:</strong> {{ data.movie.vote_average }}/10</p>
    </mat-card-content>
    <img
      mat-card-image
      [src]="'https://image.tmdb.org/t/p/original/' + data.movie.poster_path"
      alt="{{ data.movie.Title }}"
      class="dialog-image"
    />
  </mat-card>
</div>
