<mat-toolbar color="primary">
  <span class="toolbar-title"><a routerLink="/">Pipso</a></span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/search" routerLinkActive="mat-accent"
        >Rechercher un film</a
      >
      <a mat-button routerLink="/create" routerLinkActive="mat-accent"
        >Ajouter un film</a
      >
      <a mat-button routerLink="/signin" routerLinkActive="mat-accent"
        >Se connecter</a
      >
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent"
        >Créer un compte</a
      >
    </li>
  </ul>
</mat-toolbar>
