<div class="search-container">
  <h1>Recherche de Films</h1>
  <mat-form-field appearance="fill">
    <mat-label>Titre du film</mat-label>
    <input matInput [(ngModel)]="title" placeholder="Entrez le titre du film" />
  </mat-form-field>
  <div class="search-button">
    <button mat-raised-button color="primary" (click)="searchMovies()">
      Rechercher
    </button>
  </div>

  <mat-spinner *ngIf="isLoading" class="loading-spinner"></mat-spinner>

  <div class="movies" *ngIf="movies.length > 0">
    <mat-card class="movie" *ngFor="let movie of movies">
      <mat-card-header>
        <mat-card-title>{{ movie.Title }}</mat-card-title>
        <mat-card-subtitle>{{ movie.Year }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="movie.Poster" alt="{{ movie.Title }}" />
      <mat-card-actions>
        <button mat-button color="primary" (click)="onSelectMovie(movie)">
          Sélectionner
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
