body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f6f9;
  margin: 0 auto;
  padding: 20px;
}

.search-card {
  margin: 2rem auto;
  max-width: 600px;
  min-width: auto;
  padding: 2rem;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.search-card h1 {
  font-size: 1.75rem;
  color: blueviolet;
  margin-bottom: 1.5rem;
}

.full-width {
  width: 100%;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 1.5rem;
}

.search-button {
  display: flex;
  justify-content: center;
}

.search-button button {
  width: 100%;
  max-width: 200px;
  height: 48px;
  font-size: 1rem;
}

.results-card {
  margin: 2rem auto;
  padding: 2rem;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.movie-card {
  box-sizing: border-box;
  margin-bottom: 20px;
}

mat-icon {
  cursor: pointer;
}

.movie mat-card-header {
  text-align: center;
}

.movie-actions mat-icon {
  margin: auto;
}

.loading-spinner {
  display: block;
  margin: 2rem auto;
}

.info-text {
  margin-top: 20px;
  text-align: center;
  color: #666;
}

.paginator {
  padding-bottom: 50px;
}

@media (min-width: 1401px) {
  .movie-card {
    flex: 1 1 calc(20% - 20px);
    min-width: 200px;
    max-width: 300px;
  }
}

@media (max-width: 1400px) {
  .movie-card {
    flex: 1 1 calc(25% - 20px);
    min-width: 200px;
    max-width: 300px;
  }
}

@media (max-width: 1024px) {
  .movie-card {
    flex: 1 1 calc(33.33% - 20px);
    min-width: 200px;
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .search-card,
  .results-card {
    padding: 1rem;
  }

  .movie-card {
    flex: 1 1 calc(33.33% - 20px);
    min-width: 100px;
    max-width: 200px;
  }
}

@media (max-width: 480px) {
  .movie-card {
    flex: 1 1 calc(50% - 20px);
    min-width: 100px;
    max-width: 200px;
  }

  .search-button button {
    width: 100%;
  }
}
