<mat-card class="search-card">
  <mat-card-header>
    <mat-card-title>
      <h1>Rechercher un film</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Titre du film</mat-label>
      <input
        matInput
        [(ngModel)]="title"
        placeholder="Entrez le titre du film"
      />
    </mat-form-field>
  </mat-card-content>
  <div class="search-button">
    <button mat-raised-button color="primary" (click)="searchMovies()">
      Rechercher
    </button>
  </div>
</mat-card>

<mat-spinner *ngIf="isLoading" class="loading-spinner"></mat-spinner>

<div *ngIf="!isLoading && performedSearch" id="top-movie">
  <div *ngIf="movies.length > 0 && !isLoading" class="movie-list">
    <mat-card class="movie-card" *ngFor="let movie of movies">
      <img
        *ngIf="movie.poster_path"
        mat-card-image
        [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
        alt="{{ movie.title }}"
      />
      <img
        *ngIf="!movie.poster_path"
        mat-card-image
        [src]="'../../../assets/images/monPopcornAffiche.png'"
        alt="image par défaut"
      />
      <mat-card-actions class="movie-actions">
        <mat-icon
          color="primary"
          (click)="searchMovieById(movie.id)"
          matTooltip="Voir plus d'infos sur {{ movie.title }}"
          >info</mat-icon
        >
        <mat-icon
          color="primary"
          (click)="onSelectMovie(movie)"
          matTooltip="Ajouter {{ movie.title }} à votre liste de films à voir"
          >add</mat-icon
        >
        <mat-icon
          color="primary"
          (click)="onShare(movie)"
          matTooltip="Partager {{ movie.title }}"
          >ios_share</mat-icon
        >
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="movies.length === 0" class="info-text">aucun résultat trouvé</div>
</div>
<div>
  <div class="paginator" [hidden]="movies.length === 0">
    <mat-paginator
      [length]="totalMovies"
      [pageSize]="moviesPerPage"
      [pageSizeOptions]="[moviesPerPage]"
      [hidePageSize]="false"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
