body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f6f9;
  margin: 0 auto;
  padding: 20px;
}

.search-card {
  margin: 2rem auto;
  max-width: 600px;
  min-width: auto;
  padding: 2rem;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.search-card h1 {
  font-size: 1.75rem;
  color: blueviolet;
  margin-bottom: 1.5rem;
}

.full-width {
  width: 100%;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 1.5rem;
}

.search-button {
  display: flex;
  justify-content: center;
}

.search-button button {
  width: 100%;
  max-width: 200px;
  height: 48px;
  font-size: 1rem;
  text-transform: uppercase;
}

.movie-list {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.movie-card {
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
  min-width: 200px;
}

.movie-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #e0e0e0;
}

.movie:hover {
  transform: translateY(-5px);
}

.movie img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #e0e0e0;
}

.movie mat-card-header {
  text-align: center;
}

.movie-actions {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
}

.movie-actions button {
  flex: 1;
  margin: 0 5px;
}

.loading-spinner {
  display: block;
  margin: 2rem auto;
}

@media (max-width: 1024px) {
  movie-card {
    width: calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .search-card,
  .results-card {
    padding: 1rem;
  }

  movie-card {
    width: calc(50% - 20px);
  }

  .movie-actions {
    gap: 10px;
  }

  .movie-actions button {
    margin: 0.5rem 0;
  }
}

@media (max-width: 480px) {
  .search-button button {
    width: 100%;
  }

  .movie-actions {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .movie-actions button {
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px);
    margin: 5px 0;
  }

  movie-card {
    width: 100%;
  }
}
