<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Ma Liste de Films vu</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-accordion multi="true" *ngIf="movies.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let movie of movies">
      <mat-expansion-panel-header>
        {{ movie.title }}
      </mat-expansion-panel-header>
      <p>Ajouté le: {{ movie.date | date : " d MMMM y" }}</p>
      <mat-action-row>
        <button
          mat-flat-button
          color="basic"
          (click)="searchMovieById(movie.imdbId)"
        >
          Plus d'info
        </button>
        <button mat-flat-button color="primary" (click)="onShare(movie)">
          Partager
        </button>
        <button mat-flat-button color="warn" (click)="onDelete(movie.id)">
          Supprimer
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator
    [length]="totalMovies"
    [pageSize]="moviesPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"
    *ngIf="movies.length > 0"
  ></mat-paginator>
  <p class="info-text mat-body-1" *ngIf="movies.length <= 0 && !isLoading">
    Votre liste est vide
  </p>
</mat-card>
