<h1>Mes amis</h1>

<mat-spinner *ngIf="isLoading" class="loading-spinner"></mat-spinner>
<mat-accordion multi="false" *ngIf="friends.length > 0">
  <mat-expansion-panel *ngFor="let friend of friends">
    <mat-expansion-panel-header>
      {{ friend.friendId.pseudo }}
    </mat-expansion-panel-header>
    <div class="movie-details">
      <p>
        Ami depuis le <b>{{ friend.dateAdded | date : " d MMMM y" }}</b>
      </p>
    </div>
    <mat-action-row>
      <button
        mat-flat-button
        color="warn"
        (click)="removeFriend(friend.friendId._id)"
        matTooltip="Supprimer {{ friend.friendId.pseudo }} de vos amis"
      >
        Supprimer
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="friends.length === 0">
  Vous n'avez pas encore d'amis.
</p>
