<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Mes amis</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-accordion multi="true" *ngIf="friends.length > 0">
    <mat-expansion-panel *ngFor="let friend of friends">
      <mat-expansion-panel-header>
        {{ friend.pseudo }}
      </mat-expansion-panel-header>
      <mat-action-row>
        <button mat-button color="warn" (click)="removeFriend(friend._id)">
          Supprimer
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <p class="info-text" *ngIf="friends.length === 0">
    Vous n'avez pas encore d'amis.
  </p>
</mat-card>
