files:
  "/etc/nginx/conf.d/sse.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location /sse {
          proxy_set_header Connection '';
          proxy_set_header Authorization $http_authorization; 
          proxy_http_version 1.1;
          chunked_transfer_encoding off;
          proxy_buffering off;
          proxy_cache off;
          proxy_pass http://localhost:3000/sse;
          add_header 'Access-Control-Allow-Origin' '$http_origin' always; # Utiliser l'origine de la requête
          add_header 'Access-Control-Allow-Headers' 'Origin, X-Requested-With, Content-Type, Accept, Authorization' always;
          add_header 'Access-Control-Allow-Credentials' 'true' always; # Permet les cookies
      }

  "/etc/nginx/conf.d/timeout.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      proxy_read_timeout 3600;
      proxy_send_timeout 3600;
      keepalive_timeout 3600;
