mat-card {
  margin: 20px;
  border-bottom: 50px;
  text-align: center;
}

mat-card-header {
  margin-bottom: 40px;
}
mat-card-title h1 {
  font-size: 2rem;
  color: blueviolet;
  margin: 0;
  text-align: center;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.friends-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.friend-card {
  width: 200px;
  margin: 20px;
}

.loading-spinner {
  margin: 20px auto;
}
