<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form
    (submit)="onSaveMovie(movieSaving)"
    #movieSaving="ngForm"
    *ngIf="!isLoading"
  >
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="movie?.title"
        required
        placeholder="Titre du film"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Veuillez saisir un titre.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Enregistrer</button>
  </form>
</mat-card>
