<h1 mat-dialog-title class="dialog-title">Partager le film</h1>

<div mat-dialog-content class="dialog-content">
  <p>Sélectionnez un ami pour partager le film "{{ data.movie.title }}" :</p>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Ami</mat-label>
    <mat-select [(value)]="selectedFriendId">
      <mat-option *ngFor="let friend of friends" [value]="friend.friendId._id">
        {{ friend.friendId.pseudo }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p>Ecrivez un commentaire</p>
  <mat-form-field appearance="fill" class="full-width">
    <input matInput [(ngModel)]="comment" />
  </mat-form-field>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-flat-button color="warn" (click)="onNoClick()">Annuler</button>
  <button mat-flat-button color="primary" (click)="onShare()">Partager</button>
</div>
