.movie-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

mat-spinner {
  margin: auto;
}

.info-text {
  text-align: center;
}
