<mat-card class="auth-card">
  <mat-spinner *ngIf="isLoading" class="loading-spinner"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-card-header>
      <mat-card-title>
        <h1>Créer un compte</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>E-Mail</mat-label>
        <input
          matInput
          type="email"
          ngModel
          name="email"
          required
          email
          placeholder="E-Mail"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Mot de passe (6 caractères minimum)</mat-label>
        <input
          matInput
          type="password"
          ngModel
          name="password"
          required
          minlength="6"
          placeholder="Mot de passe"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Pseudo</mat-label>
        <input
          matInput
          type="text"
          ngModel
          name="pseudo"
          required
          placeholder="Pseudo"
        />
      </mat-form-field>
      <div class="auth-button">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="signupForm.invalid || isLoading"
        >
          S'enregistrer
        </button>
      </div>
    </mat-card-content>
  </form>
</mat-card>
