mat-card {
  margin: 20px;
  border-bottom: 50px;
}

mat-card-title h1 {
  font-size: 2rem;
  color: blueviolet;
  margin: 0;
  text-align: center;
}

mat-accordion {
  margin-top: 40px; /* Espace entre le titre et la liste */
}

mat-spinner {
  margin: auto;
}

.info-text {
  text-align: center;
  margin-top: 40px;
}
