<h1>Ma liste de films à voir</h1>

<div class="button-class">
  <button
    mat-flat-button
    color="primary"
    (click)="onFindRandomMovie()"
    matTooltip="Lance une recherche aléatoire sur ta liste de films à voir"
    class="what-to-see"
  >
    Que regarder aujourd'hui?
  </button>
</div>

<mat-spinner *ngIf="isLoading" class="loading-spinner"></mat-spinner>
<mat-accordion multi="false" *ngIf="movies.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let movie of movies">
    <mat-expansion-panel-header>
      {{ movie.title }}
    </mat-expansion-panel-header>
    <div class="movie-details">
      <p *ngIf="!movie.creator">
        Vous avez ajouté ce film le
        <b>{{ movie.date | date : " d MMMM y" }}</b>
      </p>
      <p *ngIf="movie.creator">
        Conseillé par <b>{{ movie.creator }}</b> le
        {{ movie.date | date : " d MMMM y" }}
      </p>
      <p *ngIf="movie.friendComment">
        Commentaire de votre ami(e): <b>{{ movie.friendComment }}</b>
      </p>
    </div>
    <mat-action-row>
      <mat-icon
        color="primary"
        (click)="searchMovieById(movie.tmdbId)"
        matTooltip="Voir plus d'infos sur {{ movie.title }}"
        >info</mat-icon
      >

      <mat-icon
        color="primary"
        (click)="updateAsSeen(movie)"
        matTooltip="Marquer {{ movie.title }} comme vu"
        >done</mat-icon
      >

      <mat-icon
        color="primary"
        (click)="onShare(movie)"
        matTooltip="Partager {{ movie.title }}"
        >ios_share</mat-icon
      >

      <mat-icon
        color="warn"
        (click)="onDelete(movie.id)"
        matTooltip="Supprimer {{ movie.title }}"
        >delete</mat-icon
      >
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  [length]="totalMovies"
  [pageSize]="moviesPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
  *ngIf="movies.length > 0"
></mat-paginator>
<p class="info-text mat-body-1" *ngIf="movies.length <= 0 && !isLoading">
  Votre liste est vide
</p>
