<mat-card class="auth-card">
  <form (submit)="onForgotPassword(forgotForm)" #forgotForm="ngForm">
    <mat-card-header>
      <mat-card-title>
        <h1>Mot de passe oublié</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Veuillez saisir votre adresse e-mail. Vous recevrez un lien pour
        réinitialiser votre mot de passe.
      </p>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Adresse E-mail</mat-label>
        <input
          matInput
          type="email"
          ngModel
          name="email"
          required
          placeholder="E-mail"
          #emailInput="ngModel"
        />
        <mat-error *ngIf="emailInput.invalid && emailInput.touched">
          Veuillez saisir une adresse e-mail valide.
        </mat-error>
      </mat-form-field>
      <div class="auth-button">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="forgotForm.invalid"
        >
          Envoyer le lien
        </button>
      </div>
    </mat-card-content>
  </form>
</mat-card>
<mat-spinner *ngIf="isLoading" class="loading-spinner"></mat-spinner>
