/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container {
  &.success {
    margin-top: calc(30% - 10px);
    --mdc-snackbar-container-color: rgb(119, 221, 119);
    --mdc-snackbar-supporting-text-color: #fff;
    .mat-mdc-snack-bar-action {
      color: white !important;
    }
  }
}

.mat-mdc-snack-bar-container {
  &.error {
    margin-top: calc(30% - 10px);
    --mdc-snackbar-container-color: rgb(255, 105, 97);
    --mdc-snackbar-supporting-text-color: #fff;
    .mat-mdc-snack-bar-action {
      color: white !important;
    }
  }
}

.mat-mdc-snack-bar-container {
  &.info {
    margin-top: calc(30% - 10px);
    --mdc-snackbar-container-color: rgb(144, 143, 194);
    --mdc-snackbar-supporting-text-color: white;
    .mat-mdc-snack-bar-action {
      color: white !important;
    }
  }
}
