<mat-card class="auth-card">
  <mat-spinner *ngIf="isLoading" class="loading-spinner"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-card-header>
      <mat-card-title>
        <h1>Se connecter</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>E-Mail</mat-label>
        <input
          matInput
          type="email"
          ngModel
          name="email"
          required
          placeholder="E-Mail"
          #emailInput="ngModel"
        />
        <mat-error *ngIf="emailInput.invalid && emailInput.touched">
          Veuillez saisir un email valide.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Mot de passe</mat-label>
        <input
          matInput
          type="password"
          ngModel
          name="password"
          required
          placeholder="Mot de passe"
          #passwordInput="ngModel"
        />
        <mat-error *ngIf="passwordInput.invalid && passwordInput.touched">
          Veuillez saisir un mot de passe.
        </mat-error>
      </mat-form-field>
      <div class="auth-button">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loginForm.invalid || isLoading"
        >
          Se connecter
        </button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn" (click)="onForgotPassword()">
        Mot de passe oublié ?
      </button>
    </mat-card-actions>
  </form>
</mat-card>
