<div class="home-container">
  <div class="welcome-card">
    <h1>Bienvenue sur Mon Popcorn</h1>

    <h3>
      Vous pouvez rechercher des films, les ajouter à votre liste de films à
      voir, les marquer comme vus, et partager vos découvertes avec vos amis.
      Vous trouverez également les derniers films à l'affiche et les mieux notés
      de tous les temps.
    </h3>
  </div>

  <mat-button-toggle-group
    [value]="selectedTab"
    (change)="onTabChange($event)"
    class="movie-toggle-group"
    aria-label="Choisissez la catégorie des films"
  >
    <mat-button-toggle value="nowPlaying">A l'affiche</mat-button-toggle>
    <mat-button-toggle value="topRated">Mieux notés</mat-button-toggle>
  </mat-button-toggle-group>

  <div
    class="movies-section"
    *ngIf="selectedTab === 'nowPlaying' && nowPlayingMovies.length > 0"
    id="now-playing-movies"
  >
    <h1>Films à l'affiche</h1>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div class="movie-list" *ngIf="!isLoading">
      <mat-card *ngFor="let movie of nowPlayingMovies" class="movie-card">
        <img
          mat-card-image
          [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
          alt="{{ movie.title }}"
        />
        <mat-card-actions class="movie-actions">
          <button
            mat-stroked-button
            color="primary"
            (click)="searchMovieById(movie.id)"
            matTooltip="Voir plus d'infos sur {{ movie.title }}"
          >
            Info
          </button>
          <button
            mat-flat-button
            color="accent"
            matTooltip="Ajouter {{ movie.title }} à votre liste de films à voir"
            (click)="onSelectMovie(movie)"
          >
            Ajouter
          </button>
          <button
            mat-flat-button
            color="primary"
            matTooltip="Partager {{ movie.title }}"
            (click)="onShare(movie)"
          >
            Partager
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <mat-paginator
      [length]="totalNowPlayingMovies"
      [pageSize]="moviesPerPage"
      [pageSizeOptions]="[moviesPerPage]"
      (page)="onNowPlayingPageChange($event)"
    >
    </mat-paginator>
  </div>

  <div
    class="movies-section"
    *ngIf="selectedTab === 'topRated' && topRatedMovies.length > 0"
    id="top-rated-movies"
  >
    <h1>Les mieux notés</h1>
    <div class="movie-list">
      <mat-card *ngFor="let movie of topRatedMovies" class="movie-card">
        <img
          mat-card-image
          [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
          alt="{{ movie.title }}"
        />
        <mat-card-actions class="movie-actions">
          <button
            mat-stroked-button
            color="primary"
            (click)="searchMovieById(movie.id)"
            matTooltip="Voir plus d'infos sur {{ movie.title }}"
          >
            Info
          </button>
          <button mat-flat-button color="accent" (click)="onSelectMovie(movie)">
            Ajouter
          </button>
          <button mat-flat-button color="primary" (click)="onShare(movie)">
            Partager
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <mat-paginator
      [length]="totalNowPlayingMovies"
      [pageSize]="moviesPerPage"
      [pageSizeOptions]="[moviesPerPage]"
      (page)="onTopRatedPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
<button
  class="scroll-to-top"
  mat-fab
  color="primary"
  (click)="scrollToTop()"
  *ngIf="isScrollToTopVisible"
  aria-label="Scroll to top"
>
  <mat-icon>arrow_upward</mat-icon>
</button>
