.home-container {
  margin: 0 auto;
  padding: 20px;
}

.welcome-card {
  margin-bottom: 30px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 1.75rem;
  color: blueviolet;
  margin-bottom: 1.5rem;
}

.movies-section {
  margin-bottom: 50px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.movie-card {
  box-sizing: border-box;
  margin-bottom: 20px;
}

mat-card {
  margin-bottom: 20px;
}

mat-card-title {
  font-size: 16px;
  margin-top: 10px;
}

.movie-actions mat-icon {
  margin: auto;
}

mat-card-content {
  font-size: 14px;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.movie-toggle-group {
  justify-content: center;
  margin-bottom: 20px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

mat-button-toggle {
  color: white;
  background-color: blueviolet;
  border-radius: 10px;
  width: calc(50% - 20px);
  margin: auto;
}

mat-icon {
  cursor: pointer;
}

@media (min-width: 1401px) {
  .movie-card {
    flex: 1 1 calc(20% - 20px);
    min-width: 200px;
    max-width: 300px;
  }
}

@media (max-width: 1400px) {
  .movie-card {
    flex: 1 1 calc(25% - 20px);
    min-width: 200px;
    max-width: 300px;
  }
}

@media (max-width: 1024px) {
  .movie-card {
    flex: 1 1 calc(33.33% - 20px);
    min-width: 200px;
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .movie-card {
    flex: 1 1 calc(33.33% - 20px);
    min-width: 100px;
    max-width: 200px;
  }
}

@media (max-width: 480px) {
  .movie-card {
    flex: 1 1 calc(50% - 20px);
    min-width: 100px;
    max-width: 200px;
  }
}
